<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>			
			<div class="container-fluid">							
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">
								<span tal:repeat="Category CategoryAll">
								<h1 tal:content="Category/getName"/>
								<table width="100%" border="1" cellpadding="2" >									
									<tr>
										<th width="5%"><div class="text-center">STT</div></th>
										<th width="45%"><div class="text-left">MẶT HÀNG</div></th>
										<th width="20%"><div class="text-left">ĐƠN VỊ</div></th>
										<th width="30%"><div class="text-right">SỐ LƯỢNG</div></th>
									</tr>			
									<tr tal:repeat="Course Category/getCourseAll">
										<td align="center" tal:content="repeat/Course/number" />
										<td align="left" tal:content="Course/getName" />
										<td align="left" tal:content="Course/getUnit" />										
										<td align="right" tal:content="php: Tracking->getCountCoursePrint( Course->getId() )"/>
									</tr>			
								</table>
								</span>
							</div>	
						</div>		
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>