<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<div class="menu">
							<ul class="nav nav-list">
								<li class="nav-header">BÁO CÁO NHANH</li>
								<li><a target="blank" tal:attributes="href '/report/selling/today/detail'">DOANH SỐ HÔM NAY</a></li>
								<li><a target="blank" tal:attributes="href '/report/selling/yesterday/detail'">DOANH SỐ HÔM QUA</a></li>
								<li><a target="blank" tal:attributes="href '/report/selling/thisweek/detail'">DOANH SỐ TUẦN NÀY</a></li>
								<li><a target="blank" tal:attributes="href '/report/selling/lastweek/detail'">DOANH SỐ TUẦN TRƯỚC</a></li>								
								<li class="nav-header">BÁO CÁO TỔNG HỢP</li>
								<li tal:repeat="Track Tracks">
									<a tal:attributes="href Track/getURLView">
										<span tal:content="Track/getName" />
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>							
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>