<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div metal:use-macro="mAdmin.xhtml/MenuSetting"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">					
					<div class="widget-box">
						<div class="widget-content nopadding">
							<div class="form-horizontal">
								<div class="modal-body">
									<div class="form-group">
										<label class="control-label">Số dòng trên trang</label>
										<div class="controls">
											<input id="RowPerPage2" tal:attributes="value RowPerPage/getValue;data-id RowPerPage/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Số lượt truy cập</label>
										<div class="controls">
											<input id="GuestVisit2" tal:attributes="value GuestVisit/getValue;data-id GuestVisit/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Giảm giá (mặc định)</label>
										<div class="controls">
											<input id="Discount2" tal:attributes="value Discount/getValue;data-id Discount/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Phạt trễ giờ</label>
										<div class="controls">
											<input id="Every5Minutes2" tal:attributes="value Every5Minutes/getValue;data-id Every5Minutes/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/									
			//-----------------------------------------------------------------------------------
			//Update 1 UNIT
			//-----------------------------------------------------------------------------------
			$('#URLUpdButton').click(function(){
				var Data1 = [];
				var Data2 = [];
				var Data3 = [];
				var Data4 = [];
				
				Data1[0] = $('#RowPerPage2').attr('data-id');
				Data1[1] = "ROW_PER_PAGE";
				Data1[2] = $('#RowPerPage2').val();
				
				var URL = "/object/upd/Config";
				$.ajax({
					type: "POST",
					data: {Data:Data1},
					url: URL,
					success: function(msg){}
				});
				
				Data2[0] = $('#GuestVisit2').attr('data-id');
				Data2[1] = "GUEST_VISIT";
				Data2[2] = $('#GuestVisit2').val();			
				$.ajax({
					type: "POST",
					data: {Data:Data2},
					url: URL,
					success: function(msg){}
				});
				
				Data3[0] = $('#Discount2').attr('data-id');
				Data3[1] = "DISCOUNT";
				Data3[2] = $('#Discount2').val();								
				$.ajax({
					type: "POST",
					data: {Data:Data3},
					url: URL,
					success: function(msg){}
				});
				
				Data4[0] = $('#Every5Minutes2').attr('data-id');
				Data4[1] = "EVERY_5_MINUTES";
				Data4[2] = $('#Every5Minutes2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data4},
					url: URL,
					success: function(msg){}
				});
			});		
		/*]]>*/</script>
	</body>
</html>