<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<div metal:use-macro="mBlog.xhtml/IncludeMETA"/>
		<div metal:use-macro="mBlog.xhtml/IncludeCSS"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>

	<body id="top">
		<div id="wrapper">
			<div id="header-wrapper">
				<div class="header clear">
					<div id="logo">	
						<a href="#"><img src="/mvc/templates/theme/blog/images/logo.png" alt="" /></a>		
					</div>
					<div id="primary-menu">
						<ul class="menu">
							<li><a href="#" class="current">Trang Chủ</a></li>
							<li><a href="#">Tin Tức</a>		
								<ul>
									<li><a href="#">Tin Tức 1</a></li>	
									<li><a href="#">Tin Tức 2</a></li>	
									<li><a href="#">Tin Tức 3</a></li>	
									<li><a href="#">Tin Tức 4</a></li>	
								</ul>
							</li>
							<li><a href="#">Album</a>		
								<ul>
									<li><a href="portfolio-column-2.html">Album 1</a></li>
									<li><a href="portfolio-column-2.html">Album 2</a></li>
									<li><a href="portfolio-column-2.html">Album 3</a></li>
									<li><a href="#">Thư Viện</a>		
										<ul>
											<li><a href="gallery-2.html">Thư Viện 1</a></li>		
											<li><a href="gallery-2.html">Thư Viện 2</a></li>		
											<li><a href="gallery-2.html">Thư Viện 3</a></li>		
										</ul>
									</li>				
								</ul>
							</li>
							<li><a href="#">Blog</a>	
								<ul>
									<li><a href="blog.html">Blog 1</a></li>
									<li><a href="blog2.html">Blog 2</a></li>
									<li><a href="blog3.html">Blog 3</a></li>
									<li><a href="blog4.html">Blog 4</a></li>
									<li><a href="#">Blog grid - masonry</a>		
										<ul>
											<li><a href="blog5.html">Two Columns</a></li>
											<li><a href="blog7.html">Two Columns with sidebar</a></li>
											<li><a href="blog6.html">Three Columns</a></li>		
										</ul>
									</li>
									<li><a href="#">Blog - timeline style</a>		
										<ul>
											<li><a href="blog9.html">Timeline with sidebar</a></li>
											<li><a href="blog8.html">Fullwidth</a>		
										<ul>
											<li><a href="blog9.html">Timeline with sidebar</a></li>
											<li><a href="blog8.html">Fullwidth</a></li>
										</ul>
									</li>
										</ul>
									</li>
									<li><a href="blog-single.html">Blog single</a></li>	
									<li><a href="blog-single2.html">Blog single - no sidebar</a></li>	
									<li><a href="archive.html">Archive</a></li>		
									<li><a href="archive2.html">Archive 2</a></li>							
								</ul>
							</li>
							<li><a href="#">Thông Tin</a></li>
						</ul>
					</div> 
				</div>
			</div>
			<div id="content-wrapper">
				<div class="fullwidth">
					<div id="myCarousel" class="carousel slide">						
						<!-- Carousel items -->
						<div class="carousel-inner">
							<div class="active item">
								<span tal:content="Album/getImageAll/current/getName"/>
								<img width="480px" tal:attributes="src Album/getImageAll/current/getURL"/>
							</div>
							<div tal:repeat="Image Album/getImageAll" class="item">
								<span tal:content="Image/getName"/>
								<img width="480px" tal:attributes="src Image/getURL"/>
							</div>							
						</div>
						<!-- Carousel nav -->
						<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					</div>
				</div>
				<div class="page-header text-align-center">
					<h1 class="title uppercase">Xin chào ! Thay mặt các thành viên <a href="http://spn-soft.com">SPN Group</a> gữi lời cảm ơn bạn ghé thăm</h1>
					<h2 class="subtitle">Rất mong nhận được sự đóng góp ý kiến từ phía các bạn để sản phẩm ngày càng hoàn thiện hơn.</h2>	
				</div>
				<div class="content">
					<div class="section">	
						<div class="portfolio-grid">
							<ul id="thumbs" class="col4">
									
								<li class="item web">
									<img src="/mvc/templates/theme/blog/images/portfolio-item-1.jpg" alt="" />
									<div class="col4 item-info">
										<h3 class="title"><a href="portfolio-single.html">Enter title here</a></h3>
									</div><!--END ITEM-INFO--> 	
									<div class="item-info-overlay">
									<div>
										<h4>Web design</h4>	
										<p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae explicabo.</p>
										 <a href="portfolio-single.html" class="button small rounded white">details</a>
										<a href="images/portfolio-item-1.jpg" class="button small rounded orange" data-rel="prettyPhoto[web]">preview</a>
									</div>					
									</div><!--END ITEM-INFO-OVERLAY--> 
								</li>								
													
								<li class="item web">
									<img src="/mvc/templates/theme/blog/images/portfolio-item-2.jpg" alt="" />
									<div class="col4 item-info">
										<h3 class="title"><a href="portfolio-single.html">Enter title here</a></h3>
									</div><!--END ITEM-INFO--> 	
									<div class="item-info-overlay">
									<div>
										<h4>Web design</h4>	
										<p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae explicabo.</p>
										<a href="portfolio-single.html" class="button small rounded white">details</a>
										<a href="images/portfolio-item-2.jpg" class="button small rounded orange" data-rel="prettyPhoto[web]">preview</a>
									</div>						
									</div><!--END ITEM-INFO-OVERLAY--> 
								</li>
																	
								<li class="item web">
									<img src="/mvc/templates/theme/blog/images/portfolio-item-3.jpg" alt="" />
									<div class="col4 item-info">
										<h3 class="title"><a href="portfolio-single.html">Enter title here</a></h3>
									</div><!--END ITEM-INFO--> 	
									<div class="item-info-overlay">
									<div>
										<h4>Web design</h4>	
										<p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae explicabo.</p>
										<a href="portfolio-single.html" class="button small rounded white">details</a>
										<a href="images/portfolio-item-3.jpg" class="button small rounded orange" data-rel="prettyPhoto[web]">preview</a>
									</div>						
									</div><!--END ITEM-INFO-OVERLAY--> 
								</li>
																	
								<li class="item web">
									<img src="/mvc/templates/theme/blog/images/portfolio-item-4.jpg" alt="" />
									<div class="col4 item-info">
										<h3 class="title"><a href="portfolio-single.html">Enter title here</a></h3>
									</div><!--END ITEM-INFO--> 	
									<div class="item-info-overlay">
									<div>
										<h4>Web design</h4>	
										<p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae explicabo.</p>
										<a href="portfolio-single.html" class="button small rounded white">details</a>
										<a href="images/portfolio-item-3.jpg" class="button small rounded orange" data-rel="prettyPhoto[web]">preview</a>
									</div>						
									</div><!--END ITEM-INFO-OVERLAY--> 
								</li>
							</ul><br/>
							<p class="one text-align-center"><a href="#" class="button large orange">Xem sản phẩm</a></p>          
						</div>
					</div>	
					<div class="section alternate">
						<div class="holder text-align-center">			
							<h3 class="title uppercase">Nhận Xét Của Khách Hàng</h3>
							<ul class="bxslider" id="testimonials">
								<li>
									<img src="/mvc/templates/theme/blog/images/member2.jpg" class="aligncenter radius-200" alt="" height="80" />	
									<h4><b>Dễ sử dụng:</b> Các chức năng rõ ràng, tập trung trên một màn hình duy nhất, chỉ cần 10 phút tìm hiểu là tự sử dụng được.</h4>
								  <small class="uppercase"><b>Nguyễn Ng.Anh, Cafe Đam Mê, F4-TP.Vĩnh Long</b></small>					
								 </li>
									
								<li>
									<img src="/mvc/templates/theme/blog/images/member3.jpg" class="aligncenter radius-200" alt="" height="80" />
									<h4><b>Giao diện đẹp:</b> Được thiết kế theo phong cách của quán café, Cách phối màu sắc ấn tượng, hài hòa không gây tác dụng xấu cho mắt khi sử dụng lâu trên phần mềm.</h4>
									<small class="uppercase"><b>Lâm Qu.Tuấn, Cafe Cõi Riêng, F4-TP.Vĩnh Long</b></small>					
								</li>
									
								<li> 
									<img src="/mvc/templates/theme/blog/images/member1.jpg" class="aligncenter radius-200" alt="" height="80" />
									<h4>Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</h4>
									<small class="uppercase"><b>Jane Doe, Another happy customer</b></small>					
								</li>
									
								<li>
									<img src="/mvc/templates/theme/blog/images/member3.jpg" class="aligncenter radius-200" alt="" height="80" />
									<h4>Eaque ipsa quae ab illo inventore veritatis unde omnis iste natus.</h4>
									<small class="uppercase"><b>Jane McDoe, Yet another one</b></small>					
								</li>
									
								<li>
									<h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo, nemo enim ipsam voluptatem quia voluptas sit asperna. Saque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</h4>
									<small class="uppercase"><b>Jane Doe Junior, The Boss</b></small>					
								</li>
							</ul>
						</div>
					</div>
					<div class="section parallax-background dark" id="index">
						<div class="holder text-align-center">
							<object width="100%" height="300">
								<param name="movie" value="http://mp3.zing.vn/embed/album/ZWZAW7B8?autostart=true"/>
								<param name="quality" value="high"/>
								<param name="wmode" value="transparent"/>
								<embed width="100%" height="300" src="http://mp3.zing.vn/embed/album/ZWZAW7B8?autostart=true" quality="high" wmode="transparent" type="application/x-shockwave-flash"/>
							</object>
						</div>	
					</div>
					<div class="section">
						<div class="one-fourth text-align-center">
							<h1><i class="icon-plane"></i></h1>
							<h3>Tiện lợi</h3>
							<p>Dùng được trên bất cứ thiết bị nào có sử dụng trình duyệt web tại bất cứ nơi đâu, rất thuận tiện theo dõi công việc từ xa</p>
						</div>
						<div class="one-fourth text-align-center">
							<h1><i class="icon-laptop"></i></h1>
							<h3>Không cần cài đặt</h3>
							<p>Không chiếm dung lượng bộ nhớ lưu trữ trên máy tính của bạn mà vẫn đảm bảo an toàn dữ liệu và đạt tốc độ tốt nhất</p>
						</div>
						<div class="one-fourth text-align-center">
							<h1><i class="icon-thumbs-up-alt"></i></h1>
							<h3>Dùng thử miễn phí</h3>
							<p>Miễn phí nhưng vẫn có đầy đủ chức năng để bạn có thể yên tâm lựa chọn dùng sản phẩm của chúng tôi</p>
						</div>
						<div class="one-fourth text-align-center last">
							<h1><i class="icon-smile"></i></h1>
							<h3>Phục vụ chu đáo</h3>
							<p>Nhân viên của chúng tôi sẽ có mặt trực tiếp ngay khi bạn cần để giúp bạn khắc phục sự cố phần mềm không mong muốn</p>
						</div>
						<div class="divider-border"/>
						<div class="clear"/>
						<div class="one text-align-center">			
							<h3 class="title uppercase">Hợp tác để cùng phát triển</h3>
							<h4>Có một dự án thú vị đang chờ bạn tham gia cùng chúng tôi</h4>
							<div class="one-half button-group aligncenter">	
								<a href="#" class="button grey"><span class="title">Liên hệ</span><span class="subtitle">Để được dùng thử bây giờ</span></a>	 					
								<span class="or radius-200">hay</span>
								<a href="#" class="button green"><span class="title">Xem sản phẩm</span><span class="subtitle">Để biết thêm chi tiết</span></a>					
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer" style="top:50px;">
			<div class="section">
				<div class="one-half">
					<div id="bra-map" class="google-map"/><br/>
					<h2 class="title">Thông tin liên hệ</h2>
					<p><strong>Địa chỉ</strong>: 182/15 Đường 14/9 - Phường 4 - Thành phố Vĩnh Long<br/>
					<strong>Điện thoại</strong>: +84123 456 789<br/>
					<strong>Email</strong>: yourblog@gmail.com</p>
				</div>
				<div class="one-half last">
					<form action="http://demo.brankic.net/supernovahtml/php/send.php" id="contact-form" class="form" method="post">
						<p class="form-name">
							<label for="name">Tên của bạn <em>(*)</em></label>
							<input id="name" name="name" type="text" value="" size="30" class="requiredField" />
						</p>
						<p class="form-email">
							<label for="email">Email <em>(*)</em></label>
							<input id="email" name="email" type="email" value="" size="30" class="requiredField email" />
						</p>
						<p class="form-message">
							<label for="message">Lời nhắn</label>
							<textarea id="message" name="message" cols="45" rows="8" class="requiredField"></textarea>
						</p>
						<p class="form-submit">
							<input name="submit" id="submitted" value="Gữi" class="submit button medium grey" type="submit" />
						</p>
					</form>
				</div>
				<div class="divider-border" style="margin-bottom:30px !important;"/>
				<div class="one text-align-center">
					<p class="copyright">&copy; 2013 SPN Group</p>
				</div>
			</div>	
		</div>
		<a href="#" id="back-top">Đầu trang</a> 
		<div id="panel" style="margin-left:-170px;">
			<div id="panel-admin">
				<strong>Colors</strong> <br/>
				<select id="colors">		  
				  <option value="orange" selected="selected">Orange</option>
				  <option value="blue">Blue</option>
				  <option value="navyblue">Navyblue</option>
				  <option value="yellow">Yellow</option>
				  <option value="green">Green</option>
				  <option value="tealgreen">Tealgreen</option>
				  <option value="red">Red</option>
				  <option value="pink">Pink</option>
				  <option value="purple">Purple</option>
				  <option value="magenta">Magenta</option>
				  <option value="cream">Cream</option>
				</select>
				<strong>Layout style</strong> <br/>
				<select id="layout">
				  <option value="stretched" selected="selected">Stretched</option>
				  <option value="boxed">Boxed</option>
				</select>
				<br/><br/><br/>
			</div>	
			<a class="open" style="cursor:pointer;"/>
		</div>
		<div metal:use-macro="mBlog.xhtml/IncludeJS"/>
	</body>
</html>