<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<link rel="stylesheet" href="/mvc/templates/theme/cms/css/icheck/flat/blue.css"/>
		<link rel="stylesheet" href="/mvc/templates/theme/cms/css/select2.css"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div metal:use-macro="mAdmin.xhtml/MenuApp"/>
		<div id="content">
			<div id="content-header">
				<span metal:use-macro="mAdmin.xhtml/ProjectName"/>
				<div class="btn-group">
					<a class="btn tip-left" data-original-title="Click để thêm mới" href="/selling/ins/load">
						<i class="glyphicon glyphicon-plus"/> Thêm mới
					</a>
				</div>
			</div>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<div class="widget-box">
						<div class="widget-title">
							<span class="icon">
								<i class="glyphicon glyphicon-edit"></i>
							</span>
							<h5 tal:content="Title"/>
						</div>
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover data-table">
								<thead>
									<tr>
										<th width="50">STT</th>
										<th>TÊN</th>
										<th width="50"><i class="glyphicon glyphicon-trash"/></th>
									</tr>
								</thead>
								<tbody>
									<tr class="gradeX" tal:repeat="Domain DomainAll">
										<td align="center" tal:content="repeat/Domain/number"/>
										<td><a tal:attributes="href Domain/getURLSelling" ><span tal:content="Domain/getName"/></a></td>
										<td align="center"><a tal:attributes="href Domain/getURLSelling"><i class="glyphicon glyphicon-remove"/></a></td>
									</tr>
								</tbody>
							</table>  
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script src="/mvc/templates/theme/cms/js/jquery.icheck.min.js"></script>
		<script src="/mvc/templates/theme/cms/js/select2.min.js"></script>
		<script src="/mvc/templates/theme/cms/js/jquery.dataTables.min.js"></script>
		<script src="/mvc/templates/theme/cms/js/unicorn.tables.js"></script>
	</body>
</html>