<body>
	<div metal:use-macro="mAdmin.xhtml/ReportHeader"/>
	<BR/>
	<table width="100%" border="1" cellpadding="2" >
		<thead>
			<tr>
				<th width="5%" align="center">STT</th>
				<th width="20%" align="left">TÊN HÀNG</th>
				<th width="10%" align="left">ĐƠN VỊ</th>
				<th width="10%" align="right">TỒN CŨ</th>
				<th width="10%" align="right">TRONG KÌ</th>
				<th width="10%" align="right">BÁN</th>
				<th width="10%" align="right">GIÁ</th>
				<th width="10%" align="right">TỒN MỚI</th>
				<th width="15%" align="right">GIÁ TRỊ</th>
			</tr>
		</thead>
		<tbody>
			<tr tal:repeat="TS Tracking/getTrackingStore">
				<td width="5%" align="center" tal:content="repeat/TS/number"/>
				<td width="20%"><span tal:content="TS/getCourse/getName"/></td>
				<td width="10%"><span tal:content="TS/getCourse/getUnit"/></td>
				<td width="10%" align="right"><span tal:content="TS/getCountOldPrint"/></td>
				<td width="10%" align="right"><span tal:content="TS/getCountImportPrint"/></td>
				<td width="10%" align="right"><span tal:content="TS/getCountExportPrint"/></td>
				<td width="10%" align="right"><span tal:content="TS/getPricePrint"/></td>
				<td width="10%" align="right"><span tal:content="TS/getCountRemainPrint"/></td>
				<td width="15%" align="right"><span tal:content="TS/getCountRemainValuePrint"/></td>
			</tr>
			<tr>
				<td colspan="8" align="right"><B>TỔNG CỘNG</B></td>
				<td align="right">
					<font color="red" size="11">
						<B tal:content="Tracking/getTrackingStoreValuePrint"/>
					</font>
				</td>
			</tr>
		</tbody>
	</table>
	
</body>