<body>
	<div metal:use-macro="mAdmin.xhtml/ReportHeader"/>
	<span tal:repeat="Supplier SupplierAll">
		<BR/>
		<table width="100%" border="1" cellpadding="2" >
			<tr>
				<th width="100%" align="left"><B tal:content="Supplier/getName"/></th>
			</tr>
			<tr>
				<th width="5%" align="center"><B>STT</B></th>
				<th width="60%" align="left"><B>MẶT HÀNG</B></th>
				<th width="20%" align="left"><B>ĐƠN VỊ</B></th>
				<th width="15%" align="right"><B>SỐ LƯỢNG</B></th>				
			</tr>
			<tr tal:repeat="Resource Supplier/getResourceAll">
				<td align="center" tal:content="repeat/Resource/number" />
				<td align="left" tal:content="Resource/getName" />
				<td align="left" tal:content="Resource/getUnit" />
				<td align="right" tal:content="php:Tracking->getResourceImport(Resource->getId())"/>				
			</tr>			
		</table>
	</span>
</body>