Options +FollowSymlinks
RewriteEngine on

#---------------------------------------------------------------------------------------------------------------------------
# SYSTEM
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^dang-nhap$ 					?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 					?cmd=SigninExe [L]
RewriteRule ^signout/load$ 					?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 					?cmd=SignoutExe [L]

RewriteRule ^trang-chu$ 					?cmd=Home [L]
RewriteRule ^tu-van/phan-mem-quan-ly$ 		?cmd=SolutionApplication [L]

RewriteRule ^tien-ich/tim-kiem$ 			?cmd=Search [L]

RewriteRule ^quan/([A-Za-z0-9_-]+)$ 		?cmd=Store&IdKey=$1 [L]

RewriteRule ^video/([0-9])$ 				?cmd=Video&IdCategoryVideo=$1 [L]
RewriteRule ^contact/ins/exe$ 				?cmd=ContactInsExe [L]

RewriteRule ^object/load/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=ObjectLoad&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/del/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=ObjectDel&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/ins/([A-Za-z0-9]+)$ 							?cmd=ObjectIns&ObjectName=$1 [L]
RewriteRule ^object/upd/([A-Za-z0-9]+)$ 							?cmd=ObjectUpd&ObjectName=$1 [L]

RewriteRule ^location/change$ 										?cmd=LocationChange [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting$ 										?cmd=Setting [L]

RewriteRule ^setting/province$ 								?cmd=SettingProvince [L]
RewriteRule ^setting/province/([0-9]+)$ 					?cmd=SettingDistrict&IdProvince=$1 [L]
RewriteRule ^setting/province/([0-9]+)/([0-9]+)$ 			?cmd=SettingDistrictStore&IdProvince=$1&IdDistrict=$2 [L]

RewriteRule ^setting/province/([0-9]+)/([0-9]+)/([0-9]+)/album$ 	?cmd=SettingStoreAlbum&IdProvince=$1&IdDistrict=$2&IdStore=$3 [L]
RewriteRule ^setting/province/([0-9]+)/([0-9]+)/([0-9]+)/post$ 		?cmd=SettingStorePost&IdProvince=$1&IdDistrict=$2&IdStore=$3 [L]
RewriteRule ^setting/province/([0-9]+)/([0-9]+)/([0-9]+)/rate$ 		?cmd=SettingStoreRate&IdProvince=$1&IdDistrict=$2&IdStore=$3 [L]

RewriteRule ^setting/theme/([a-z0-9_-]+)$ 					?cmd=SettingThemeChangeExe&Theme=$1 [L]

RewriteRule ^setting/news$ 									?cmd=SettingNews [L]
RewriteRule ^setting/news/page/([0-9])$ 					?cmd=SettingNews&Page=$1 [L]

RewriteRule ^setting/config$ 								?cmd=SettingConfig [L]
RewriteRule ^setting/config/page/([0-9])$ 					?cmd=SettingConfig&Page=$1 [L]

RewriteRule ^setting/tag$ 									?cmd=SettingTag [L]
RewriteRule ^setting/tag/page/([0-9])$ 						?cmd=SettingTag&Page=$1 [L]

RewriteRule ^setting/video$ 								?cmd=SettingVideo [L]
RewriteRule ^setting/video/page/([0-9])$ 					?cmd=SettingVideo&Page=$1 [L]

RewriteRule ^setting/album$ 								?cmd=SettingAlbum [L]
RewriteRule ^setting/album/page/([0-9])$ 					?cmd=SettingAlbum&Page=$1 [L]

RewriteRule ^setting/album/([0-9])$ 						?cmd=SettingImage&IdAlbum=$1 [L]
RewriteRule ^setting/album/([0-9])/page/([0-9])$ 			?cmd=SettingImage&IdAlbum=$1&Page=$2 [L]
RewriteRule ^image/uploading$ 								?cmd=ImageUploading [L]
