Options +FollowSymlinks
RewriteEngine on

#---------------------------------------------------------------------------------------------------------------------------
# SYSTEM
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^signin/load$ 			?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 			?cmd=SigninExe [L]
RewriteRule ^signout/load$ 			?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 			?cmd=SignoutExe [L]
RewriteRule ^change/pass/load$ 		?cmd=ChangePassLoad [L]
RewriteRule ^change/pass/exe$ 		?cmd=ChangePassExe [L]

RewriteRule ^home$ 					?cmd=Home [L]
RewriteRule ^video/([0-9])$ 		?cmd=Video&IdCategoryVideo=$1 [L]
RewriteRule ^contact/ins/exe$ 		?cmd=ContactInsExe [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting$ 										?cmd=Setting [L]

RewriteRule ^setting/config$ 								?cmd=SettingConfig [L]
RewriteRule ^setting/config/page/([0-9])$ 					?cmd=SettingConfig&Page=$1 [L]

RewriteRule ^setting/vtag$ 									?cmd=SettingVTag [L]
RewriteRule ^setting/vtag/page/([0-9])$ 					?cmd=SettingVTag&Page=$1 [L]

RewriteRule ^setting/video$ 								?cmd=SettingVideo [L]
RewriteRule ^setting/video/page/([0-9])$ 					?cmd=SettingVideo&Page=$1 [L]

RewriteRule ^setting/image$ 								?cmd=SettingImage [L]
RewriteRule ^setting/image/page/([0-9])$ 					?cmd=SettingImage&Page=$1 [L]

RewriteRule ^setting/customer$ 								?cmd=SettingCustomer [L]
RewriteRule ^setting/customer/page/([0-9])$ 				?cmd=SettingCustomer&Page=$1 [L]