<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>		
		<span metal:use-macro="base.xhtml/IncludeJS"/>
		<script>
		/*<![CDATA[*/
			$(document).ready(function() {				
				$("#CaptchaSecurity").hide();
			});			
			function validateFormContactLoad() {
				var OldCode = $("#CaptchaSecurity").val();
				var KeydownCode = $("#CodeCaptcha").val();					
				if ( OldCode == KeydownCode && OldCode != "" && KeydownCode != "") {
					$("#Mesenge").html("");
					return true; 
				} else {
					$("#Mesenge").html("Mã xác nhận sai! Nhập lại!");
					$("#CodeCaptcha").val("");
					$("#CodeCaptcha").focus();
					return false;
				}
			}
		/*]]>*/
		</script>
	</head>
<body>
	<a href="http://www.quanly-cafe.com/#" class="scrolltop" style="display: none;"><span>&#8593;</span></a>
	<div metal:use-macro="base.xhtml/Header"/>

    <div id="hero">
        <div class="container">
            <!-- starts carousel -->
            <div class="row animated fadeInDown">
                <div class="span12">
                    <div id="myCarousel" class="carousel slide">                        
                        <div class="carousel-inner">
                            <!-- slide 1-->
                            <div class="item slide1 active">
                                <div class="row">
                                    <div class="span6">
                                        <img src="/data/images/slide/slide1.png" alt="slide1"/>
                                    </div>
                                    <div class="span4">
                                        <h3>(1) Rất dễ sử dụng</h3>
                                        <p>Ứng dụng có thể hoạt động trên <B>Desktop</B>, <B>Tablet</B>, <B>Smartphone</B>.</p>
										<p>Chỉ cần có kỹ năng lướt Web là có thể sử dụng chương trình ngay.</p>
										<p>Hệ thống yêu cầu phần cứng tối thiểu cấu hình thấp, không cần thực hiện các cài đặt phức tạp.</p>
										<p>Thiết lập thông tin dùng ngay mà không cần đến quá 1 giờ.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- slide 2-->
                            <div class="item slide2">
                                <div class="row">                                    
									<div class="span6 animated fadeInDownBig">
                                        <img src="/data/images/slide/slide2.png" alt="slide2"/>
                                    </div>
                                    <div class="span4 animated fadeInUpBig">
                                        <h3>(2) Bán hàng chuyên nghiệp</h3>
                                        <p>Tổ chức quán theo mô hình <B>khu vực / bàn</B> để tiện cho việc quản lý và phân công việc.</p>
										<p>Danh mục món và giá có sẵn để dùng và có thể thay đổi tùy theo từng thời điểm.</p>
										<p>Tính phiếu cho khách nhanh chóng và chính xác.</p>
										<p>Theo dõi nhật kí bán hàng hàng ngày và các báo cáo chống nhân viên gian lận.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- slide 3-->
                            <div class="item slide3">
                                <div class="row">
									<div class="span6 animated fadeInDownBig">
                                        <img src="/data/images/slide/slide2.png" alt="slide2"/>
                                    </div>
                                    <div class="span4 animated fadeInUpBig">
                                        <h3>Khuyến mãi - giảm giá</h3>
                                        <p>Quản lý khách hàng thân thuộc, VIP</p>
										<p>Theo dõi doanh số của khách hàng và mức độ ưu đãi khách hàng</p>
										<p>Tăng / giảm theo % tổng phiếu hoặc trừ trực tiếp</p>
										<p>Quản lý tăng / giảm giá theo từng thời điểm</p>
                                    </div>
                                </div>
                            </div>
							<!-- slide 4-->
							<div class="item slide4">
                                <div class="row">                                    
									<div class="span4 animated fadeInUpBig">
                                        <h3>In phiếu - báo bếp</h3>
                                        <p>Hỗ trợ máy in phiếu (nhiệt, kim) trên khổ giấy 59mm, 72mm, 80mm</p>
										<p>Thiết kế phiếu in nhanh, đẹp và tiết kiệm giấy</p>
										<p>Báo món cho khu bếp, in trên giấy 1 liên hay 2 liên</p>
										<p>Cảnh báo món làm xong qua tiếng chuông</p>
                                    </div>
                                    <div class="span6 animated fadeInDownBig">
                                        <img src="/data/images/slide/slide2.png" alt="slide2"/>
                                    </div>
                                </div>
                            </div>
							<!-- slide 5-->
                            <div class="item slide5">
                                <div class="row">
                                    <div class="span4">
                                        <h3>Báo cáo nhanh gọn</h3>
                                        <p>Hệ thống giúp bạn theo dõi, quản lý công việc bất cứ lúc nào, tại bất cứ nơi đâu.</p>
                                    </div>
                                    <div class="span6">
                                        <img src="/data/images/slide/slide2.png" alt="slide2"/>
                                    </div>
                                </div>
                            </div>
							<!-- slide 6-->
                            <div class="item slide6">
                                <div class="row">									
									<div class="span4 animated fadeInUpBig">
                                        <h3>An toàn - tin cậy</h3>
                                        <p>Hệ thống giúp bạn theo dõi, quản lý công việc bất cứ lúc nào, tại bất cứ nơi đâu.</p>
                                    </div>
                                    <div class="span6 animated fadeInDownBig">
                                        <img src="/data/images/slide/slide2.png" alt="slide2"/>
                                    </div>
                                </div>
                            </div>							
							<!-- slide 7-->
                            <div class="item slide7">
                                <div class="row">                                   
									<div class="span4 animated fadeInUpBig">
                                        <h3>Tăng cường giám sát</h3>
                                        <p>Hệ thống giúp bạn theo dõi, quản lý công việc bất cứ lúc nào, tại bất cứ nơi đâu.</p>
                                    </div>
                                    <div class="span6 animated fadeInDownBig">
                                        <img src="/data/images/slide/slide2.png" alt="slide2"/>
                                    </div>                                  
                                </div>
                            </div>
							<!-- slide 8-->
                            <div class="item slide8">
                                <div class="row">
									<div class="span6 animated fadeInDownBig">
                                        <img src="/data/images/slide/slide2.png" alt="slide2"/>
                                    </div>
                                    <div class="span4 animated fadeInUpBig">
                                        <h3>Chi phí hợp lí</h3>
                                        <p>Hệ thống giúp bạn thực hiện các thao tác bán hàng ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="intro">
        <div class="container">
            <h1>Giải pháp cho công việc quản lý quán Cafe của bạn một cách chuyên nghiệp nhất</h1>
			<h2>CAFE APP = QUẢN LÝ BÁN HÀNG  + QUẢN LÝ SỔ SÁCH</h2>
        </div>
    </div>
		
    <!-- starts testimonial -->
    <div id="testimonials">
        <div class="container">
            <div class="controls">
                <hr/>
            </div>
            <div class="phrases_wrapper">
                <div class="phrase">
                    <div class="row">
                        <div class="span7">
                            <p class="testimony">
								Công nghệ thông tin đang dần thay đổi thế giới, thay đổi thói quen trong làm việc và suy nghĩ mọi người. Nhiệm vụ của chúng tôi là tạo ra sản phẩm dịch vụ tốt với chi phí hợp lí !.
                                <span>"</span>
                            </p>
                        </div>
                        <div class="span3 offset1">
                            <div class="pic">
                                <img src="/data/images/slide/pic1.jpg" alt="author" class="img-circle"/>
                                <span class="name">Tuan B.T</span>
                                <span class="position">, Trưởng nhóm phát triển hệ thống</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

		<!-- starts footer -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="span8">
						<h3>Gọi cho chúng tôi</h3>
						<div class="blog_post">
							<div class="row">
								<div class="span2">									
									<img src="/data/images/slide/pic_blog.png" alt="post image" class="img-circle" />
								</div>
								<div class="span4">
									<span class="title">
										Tư vấn bán hàng 1
									</span>
									<div class="intro">
										0919 153 189
									</div>									
								</div>
								<div class="span4">
									<span class="title">
										Tư vấn bán hàng 2
									</span>
									<div class="intro">
										0944 90 64 67
									</div>									
								</div>
							</div>
						</div>
					</div>
					<div class="span4 contact_us">
						<h3>hoặc nhắn tin</h3>
						<form class="form-horizontal" onsubmit="return validateFormContactLoad()" action="contact/ins/exe" method="post">							
							<div class="field">
								<div class="label_field">
									<label for="inputName">Họ tên</label>
								</div>
								<input type="text" id="inputName" name="inputName"/>
							</div>

							<div class="field">
								<div class="label_field">
									<label for="inputEmail">Email</label>
								</div>
								<input type="text" id="inputEmail" name="inputEmail"/>
							</div>

							<div class="field">
								<div class="label_field">
									<label for="inputCity">Địa chỉ</label>
								</div>
								<input type="text" id="inputCity" name="inputCity"/>
							</div>							
							<div class="field">
								<div class="label_field">
									<label for="inputComment">Ghi chú</label>
								</div>
								<textarea name="comments"></textarea>
							</div>
							<button type="submit" class="btn">Gửi thư</button>
						</form>
					</div>
				</div>
				<hr/>
				<div class="row copyright">
					<div class="span5">
						<h3>Kết nối</h3>
						<a href="#" class="social fb"><i class="i_facebook" /></a>
						<a href="#" class="social tw"><i class="i_twitter"></i></a>
						<a href="#" class="social yt"><i class="i_youtube"></i></a>
					</div>
					<div class="span3 offset4 copy">
						<p>&#0169; SPN Group 2009 - 2013</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>