<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>		
		<span metal:use-macro="base.xhtml/IncludeJS"/>
		<script>
		/*<![CDATA[*/
			$(document).ready(function() {				
				
			});						
		/*]]>*/
		</script>
	</head>
	<body>
		<a href="http://www.quanly-cafe.com/#" class="scrolltop" style="display: none;"><span>&#8593;</span></a>
		<div metal:use-macro="base.xhtml/Header"/>
		<h1>THỬ NGHIỆM TRANG CHỦ </h1>
		
	
	</body>
</html>