<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>		
		<span metal:use-macro="base.xhtml/IncludeJS"/>
		<style>
			.search-nav {
				background-color: #DDD;
				padding: 20px;
			}
			
			.search-nav form {
				margin: 0 !important;
			}
			
			.content-nav {
				background-color: #FAFAFA;
				width: 85%;
				margin: 20px auto;
			}
				.content-nav .content { padding: 20px; }
				
			.section-result { border-bottom: 1px solid #333; margin-left: 0 !important; margin-top: 20px; padding-bottom: 20px; }
		</style>
	</head>
	<body>
		<a href="http://www.quanly-cafe.com/#" class="scrolltop" style="display: none;"><span>&#8593;</span></a>
		<div metal:use-macro="base.xhtml/Header"/>
		<div class="search-nav">
			<form method="post" action="/tien-ich/tim-kiem">
				<input class="input-medium" name="SearchNameStore" type="text" placeholder="Gõ tên quán" style="width:50%"/>
				<button type="submit" class="btn"><i class="icon-search" /></button>
			</form>
		</div>		
		<div class="content-nav">
			<div class="content">
				<p>Bạn đang ở <B><span id="LocationName" tal:content="php: @\MVC\Base\SessionRegistry::instance()->getCurrentLocation()"/></B> <a href="#LocationChange" data-toggle="modal">Đổi vị trí</a></p>
			</div>
		</div>
		
		<span metal:use-macro="mDialog.xhtml/DialogLocationChange"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/LocationChange.js"/>
	</body>
</html>