<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div metal:use-macro="mAdmin.xhtml/MenuSetting"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<table class="table table-bordered table-striped table-hover with-check" tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->isManager()">
						<thead>
							<tr>
								<th width="40">STT</th>
								<th><div class="text-left">TÊN</div></th>								
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="SU User/getStoreAll">
								<td class="center"><span tal:content="repeat/SU/number"/></td>
								<td><span tal:content="SU/getStore/getName"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>