<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>		
		<span metal:use-macro="base.xhtml/IncludeJS"/>
		<style>
			.search-nav {
				background-color: #DDD;
				padding: 20px;
			}
			
			.search-nav form {
				margin: 0 !important;
			}
			
			.content-nav {
				background-color: #FAFAFA;
				width: 85%;
				margin: 20px auto;
			}
				.content-nav .content { padding: 20px; }
				
			.section-result { border-bottom: 1px solid #333; margin-left: 0 !important; margin-top: 20px; padding-bottom: 20px; }
		</style>
	</head>
	<body>
		<a href="http://www.quanly-cafe.com/#" class="scrolltop" style="display: none;"><span>&#8593;</span></a>
		<div metal:use-macro="base.xhtml/Header"/>
		<div class="search-nav">
			<form method="post" action="/tien-ich/tim-kiem">
				<input class="input-medium" name="SearchNameStore" type="text" placeholder="Gõ tên quán" style="width:50%"/>
				<button type="submit" class="btn"><i class="icon-search" /></button>
			</form>
		</div>		
		<div class="content-nav">
			<div class="content">
				<p>Bạn đang ở <B><span id="LocationName">Vĩnh Long</span></B> <a href="#LocationChange" data-toggle="modal">Đổi vị trí</a></p>
			</div>
		</div>
		
		<!-- LOCATION CHANGE  -->
		<div id="LocationChange" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3><i class="glyphicons-star modal-icon"/>Đổi vị trí</h3>
					</div>
					<div class="form-horizontal">
						<div class="modal-body">							
							<div class="form-group">
								<label class="control-label">Tỉnh</label>
								<div class="controls">
									<select name="IdProvince" id="IdProvince" style="width:80%;">
										<option tal:repeat="Province ProvinceAll" tal:attributes="value Province/getName">
											<span tal:content="Province/getName" />
										</option>
									</select>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="URLLocationChange" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- LOCATION CHANGE  -->
		<script type="text/javascript">
		/*<![CDATA[*/					
			//-----------------------------------------------------------------------------------
			//LOCATION CHANGE
			$('#URLLocationChange').click(function(){								
				$("#LocationName").html($("#IdProvince").val());				
				 $('#LocationChange').modal('hide');
				/*
				var URL = "/object/ins/Category";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
				*/
			});
											
		/*]]>*/
		</script>
	</body>
</html>