<!doctype html>
<html class="no-js" lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS-Search"/>
	</head>
	
	<body id="index">
		<div metal:use-macro="base.xhtml/Header-Search"/>
		<form id="search-form" class="well form-inline" action="/tien-ich/tim-kiem" method="post">
			<div class="container">
				<div class="row">
					<div class="input-append span12">
						<input type="text" class="span11 search-query" placeholder="Gõ tên quán" data-provide="typeahead" name="SearchNameStore" style="border-right:none;"/>
						<button class="btn" type="submit" style="margin-left:-5px !important; border-left:none; box-shadow:none;"><i class="icon icon-search"/></button>
					</div>
				</div>
			</div>
		</form>

		<!-- Search Categories -->
		<div id="content">
			<div id="container" class="container">
				<div class="row">
					<div class="span9" id="results-main">
						<!--
						<h4><small><p>Bạn đang ở <B><span id="LocationName" tal:content="php: @\MVC\Base\SessionRegistry::instance()->getCurrentLocation()"/></B> <a href="#LocationChange" data-toggle="modal">Đổi vị trí</a></p></small></h4>
						!-->
						<p>
							<B>DANH BẠ CAFE VIỆT</B> - là hệ thống cho phép người dùng có thể tra cứu danh sách các quán Cafe
							tại Việt Nam.
						</p>
						<p>
							HIỆN TẠI <B>5.221</B> QUÁN TRÊN <B>64</B> TỈNH/THÀNH - danh sách này sẽ được chúng tôi và đội ngũ cộng tác viên cập nhật thường xuyên.
						</p>
						<p>
							<B>GIAO DIỆN THÂN THIỆN</B> - Cũng giống như các hệ thống tìm kiếm khác. Giao diện thuần Việt dễ thao tác và dễ sử dụng.
						</p>
						<p>
							<B>HỖ TRỢ ĐA THIẾT BỊ</B> - cho phép bạn sử dụng 3G, Wifi trên các thiết bị Smartphone hay Tablet vẫn có thể sử dụng tiện ích này.
						</p>
					</div>
					<div class="span3">
						<p>
							<B>CẬP NHẬT QUÁN</B> - Nếu bạn là chủ quán có trong danh sách của chúng tôi. Nếu những thông tin chúng tôi đưa lên không chính xác.
							Bạn có thể <a href="/lien-he">Liên hệ</a> để nhận tài khoản quản trị thông tin QUÁN CAFE của mình.
						</p>
						<p>
							<B>ĐĂNG KÍ THÀNH VIÊN HOÀN TOÀN MIỄN PHÍ</B> Bạn có thể tham gia bình chọn, gửi bình luận, upload hình, bookmark các Quán Cafe mình yêu thích.
							Click vào <a href="/dang-ki">Đăng kí</a>. Nhiều công cụ và tiện ích đang chờ các bạn.
						</p>
					</div>
				</div>
			</div>
		</div>

		<span metal:use-macro="base.xhtml/IncludeJS-Search"/>
		<span metal:use-macro="mDialog.xhtml/DialogLocationChange"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/LocationChange.js"/>
		<script type="text/javascript">
		/*<![CDATA[*/
				$('.star').raty({
					iconRange: [
						{ range: 1, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' },
						{ range: 2, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' },
						{ range: 3, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' },
						{ range: 4, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' },
						{ range: 5, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' }
					],
					half: true,
					starHalf: '/data/images/rate/star-half.png',
					score: function() {
						return $(this).attr('data-score');
					}
				});
		/*]]>*/
		</script>
	</body>
</html>