<!doctype html>
<html class="no-js" lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS-Search"/>
	</head>
	
	<body id="index"><!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="javascript:if(confirm(%27http://browsehappy.com/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://browsehappy.com/%27" tppabs="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="javascript:if(confirm(%27http://www.google.com/chromeframe/?redirect=true  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.google.com/chromeframe/?redirect=true%27" tppabs="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		<div metal:use-macro="base.xhtml/Header-Search"/>
		<form id="search-form" class="well form-inline" action="/tien-ich/tim-kiem" method="post">
			<div class="container">
				<div class="row">
					<div class="span12">
						<input id="search-input" type="text" class="span6" placeholder="Gõ tên quán" data-provide="typeahead" name="SearchNameStore"/>
						<button id="btn-search-lrg" type="submit" class="btn btn-primary" title="Go forth and search!">Tìm</button>
					</div>
				</div>
			</div>
		</form>

		<!-- Search Categories -->
		<div id="content">
			<div id="container" class="container">
				<div class="row">
					<div class="span9" id="results-main">
						<h4><small><p>Bạn đang ở <B><span id="LocationName" tal:content="php: @\MVC\Base\SessionRegistry::instance()->getCurrentLocation()"/></B> <a href="#LocationChange" data-toggle="modal">Đổi vị trí</a></p></small></h4>
						
					</div>

					<div class="span3">
						
					</div>
				</div>
			</div>
		</div>

		<span metal:use-macro="base.xhtml/IncludeJS-Search"/>
		<span metal:use-macro="mDialog.xhtml/DialogLocationChange"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/LocationChange.js"/>
		<script type="text/javascript">
		/*<![CDATA[*/
				$('.star').raty({
					iconRange: [
						{ range: 1, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' },
						{ range: 2, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' },
						{ range: 3, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' },
						{ range: 4, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' },
						{ range: 5, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' }
					],
					half: true,
					starHalf: '/data/images/rate/star-half.png',
					score: function() {
						return $(this).attr('data-score');
					}
				});
		/*]]>*/
		</script>
	</body>
</html>