<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/cms/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/mvc/templates/theme/cms/css/font.awesome.css"/>
        <link rel="stylesheet" type="text/css" href="/mvc/templates/theme/cms/css/unicorn.login.css"/>
	</head>
	<body>
		<div id="container">
            <div id="logo">
                <img src="/mvc/templates/theme/cms/img/SCMS2.png" alt="logo"/>
            </div>
            <div id="user">
                <div class="avatar">
                    <div class="inner"></div>
                    <img src="/mvc/templates/theme/cms/img/av1_1.jpg"/>
                </div>
                <div class="text">
                    <h4>Đang xác thực . . . <p class="user_name"/></h4>
                </div>
            </div>
            <div id="loginbox">				
                <form id="Fromregister" action="dang-ky/exe">
    				<p>Nhập email của bạn và chúng tôi sẽ gửi mã xác nhận đăng ký hệ thống cho bạn!</p>
    				<div class="input-group">
                        <span class="input-group-addon"><i class="icon-envelope"></i></span>
						<input class="form-control" name="EmailRegister" placeholder="E-mail address" type="text"/>
                    </div>
                    <div class="form-actions clearfix">
                        <div class="pull-left">
                            <a class="grey flip-link to-login">Bạn phải chắc chắn là email của mình để xác nhận đăng ký!</a>
                        </div>						
                        <input class="btn btn-block btn-inverse" value="Đăng ký" type="submit"/>
                    </div>
                </form>
				
            </div>
        </div>
		
		<script type="text/javascript" language="javascript" src="/mvc/templates/theme/cms/js/signin.jquery.js"/> 
        <script type="text/javascript" language="javascript" src="/mvc/templates/theme/cms/js/jquery.ui.js"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/theme/cms/js/signin.unicorn.js"/>
	</body>
</html>