<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">
			<ul style="display: block;">
				<li tal:repeat="Album1 AlbumAll" tal:attributes="class php: Album->getId()==Album1->getId()?'active':''">
					<a tal:attributes="href Album1/getURLImage">
						<i class="icon-tags"></i> <span tal:content="Album1/getName"/>
					</a>
				</li>
			</ul>
		</div>				
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>			
			<div class="row">
				<div class="col-12">
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover with-check">
								<thead>
									<tr>
										<th width="40">STT</th>
										<th class="left">TÊN</th>
										<th width="180" class="left">THỜI GIAN</th>
										<th width="80" class="left">PICASA</th>
										<th width="40"><i class="glyphicons-edit"/></th>
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Image ImageAll1">
										<td class="center"><span tal:content="repeat/Image/number" /></td>
										<td><a class="update-item" href="#DialogEdit" data-toggle="modal" tal:attributes="data-id Image/getId" tal:content="Image/getName"/></td>
										<td> <div tal:content="Image/getTime"/></td>
										<td>
											<button class="MovingPicasa" tal:condition="php: Image->getNote()=='local'" tal:attributes="alt Image/getURLMove2Picasa">Chuyển</button>
										</td>
										<td class="center"><a class="update-item" href="#DialogEdit" data-toggle="modal" tal:attributes="data-id Image/getId"><i class="glyphicon glyphicon-pencil"/></a></td>
										<td class="center"><a class="remove-item" data-toggle="modal" tal:condition="php: Image->getNote()=='Picasa'" href="#DialogDel" tal:attributes="data-id Image/getId"><i class="glyphicon glyphicon-remove"/></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<span class="btn btn-success fileinput-button">
						<i class="glyphicon glyphicon-plus"></i>
						<span>Chọn tập tin ...</span>
						<input id="fileupload" type="file" name="files[]" multiple="multiple" />
					</span>
					<br /><br />
					<div id="progress" class="progress">
						<div class="progress-bar progress-bar-success"></div>
					</div>
					<div id="files" class="files" />
	
					<div metal:use-macro="mAdmin.xhtml/PageBar"/>					
					<!-- END UPDATE DIALOG  -->
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>
					<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>					
				</div>
			</div>
		</div>
		<div id="IdAlbum" tal:attributes="alt Album/getId" />
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		
		<script src="/mvc/templates/theme/cms/js/jquery.ui.widget.js" />
		<script src="/mvc/templates/theme/cms/js/jquery.iframe-transport.js" />
		<script src="/mvc/templates/theme/cms/js/jquery.fileupload.js" />
		
		<script type="text/javascript">
		/*<![CDATA[*/						
			//-----------------------------------------------------------------------------------
			//Delete 1 BIMAGE			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){
				var URL = "/picasa/image/delete";
				$.ajax({
					type: "POST",
					data: {IdImage:$(this).attr('alt')},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Upload 1 or n FILE IMAGE
			//-----------------------------------------------------------------------------------	
			var url = '/mvc/library/image/';
			$('#fileupload').fileupload({
				url: url,
				dataType: 'json',
				done: function (e, data) {
					$.each(data.result.files, function (index, file){
						var Data = [];
						Data[0] = 'null';
						Data[1] = $('#IdAlbum').attr('alt');
						Data[2] = file.name;
						Data[3] = file.url;
						Data[4] = "local";
						
						var URL = "/object/ins/Image";
						$.ajax({
							type: "POST",
							data: {Data:Data},
							url: URL,
							success: function(msg){
								location.reload();
							}
						});
					});
				},
				progressall: function (e, data) {
					var progress = parseInt(data.loaded / data.total * 100, 10);
					$('#progress .progress-bar').css(
						'width',
						progress + '%'
					);
				}
			}).prop('disabled', !$.support.fileInput)
			.parent().addClass($.support.fileInput ? undefined : 'disabled');
			
			//Di chuyển sang PICASA
			$('.MovingPicasa').click(function(){
				var URL = $(this).attr('alt');								
				$.ajax({
					type: "POST",
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		/*]]>*/
		</script>		
	</body>
</html>