<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<a href="#DialogIns" data-toggle="modal" class="btn btn-success btn-ins btn-small">
						<i class="glyphicons-plus"/> Thêm mới
					</a>					
					<div class="widget-box">						
						<div class="widget-content nopadding">							
							<table class="table table-bordered table-striped table-hover with-check">
								<thead>
									<tr>
										<th width="40">STT</th>
										<th><div class="text-left">TÊN</div></th>
										<th width="80"><div class="text-left">PHÂN CÔNG</div></th>	
										<th width="80"><div class="text-left">VỊ TRÍ</div></th>	
										<th width="80"><div class="text-left">BÀI VIẾT</div></th>
										<th width="80"><div class="text-left">ALBUM</div></th>
										<th width="80"><div class="text-left">MÔ TẢ</div></th>
										<th width="80"><div class="text-left">ĐÁNH GIÁ</div></th>
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="StoreLocation District/getStoreAll">
										<td class="center"><span tal:content="repeat/StoreLocation/number"/></td>
										<td><a class="update-item" href="#DialogEdit" data-toggle="modal" data-name="Store" tal:attributes="data-id StoreLocation/getIdStore" tal:content="StoreLocation/getStore/getName"/></td>
										<td><a tal:attributes="href StoreLocation/getURLSettingUser">Xem</a></td>
										<td><a tal:attributes="href StoreLocation/getURLSettingLocation">Xem</a></td>
										<td><a tal:attributes="href StoreLocation/getURLSettingPost">Xem</a></td>
										<td><a tal:attributes="href StoreLocation/getURLSettingAlbum">Xem</a></td>
										<td><a tal:attributes="href StoreLocation/getURLSettingFeature">Xem</a></td>
										<td><a href="#DialogEdit">Xem</a></td>
										<td class="center"><a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id StoreLocation/getIdStore"><i class="glyphicons-remove_2"/></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<!-- INSERT DIALOG  -->
					<div id="DialogIns" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-fast_food modal-icon"/>Thêm mới QUÁN</h3>
								</div>
								<div class="form-horizontal">
									<div class="modal-body">
										<div class="form-group">
											<label class="control-label">Tên</label>
											<div class="controls">
												<input id="Name1" name="Name1" type="text" class="form-control input-small"/>
											</div>
										</div>	
										<div class="form-group">
											<label class="control-label">Email</label>
											<div class="controls">
												<input id="Email1" name="Email1" type="text" class="form-control input-small"/>
											</div>
										</div>										
										<div class="form-group">
											<label class="control-label">Điện thoại</label>
											<div class="controls">
												<input id="Phone1" name="Phone1" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Loại</label>
											<div class="controls">
												<input id="Type1" name="Type1" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Địa chỉ</label>
											<div class="controls">
												<input id="Address1" name="Address1" type="text" class="form-control input-small"/>
											</div>
										</div>										
									</div>
									<div class="modal-footer">
										<button id="URLInsButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END INSERT DIALOG  -->
					
					<!-- UPDATE DIALOG  -->
					<div id="DialogEdit" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-fast_food modal-icon"/>Cập nhật QUÁN</h3>
								</div>
								<div class="form-horizontal">
									<div class="form-group">
										<label class="control-label">Tên</label>
										<div class="controls">
											<input id="Name2" name="Name2" type="text" class="form-control input-small"/>
										</div>
									</div>	
									<div class="form-group">
										<label class="control-label">Email</label>
										<div class="controls">
											<input id="Email2" name="Email2" type="text" class="form-control input-small"/>
										</div>
									</div>										
									<div class="form-group">
										<label class="control-label">Điện thoại</label>
										<div class="controls">
											<input id="Phone2" name="Phone2" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Loại</label>
										<div class="controls">
											<input id="Type2" name="Type2" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Địa chỉ</label>
										<div class="controls">
											<input id="Address2" name="Address2" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Album Picasa</label>
										<div class="controls">
											<input readonly="true" id="IdPicasaAlbum2" name="IdPicasaAlbum2" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="modal-footer">
										<button id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="IdDistrict" tal:attributes="alt District/getId" />
					<!-- END UPDATE DIALOG  -->
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>
					<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/						
			//-----------------------------------------------------------------------------------
			//Delete 1 STORE			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){
				//Xóa 1 Album Picasa trước
				URL = "/picasa/album/delete";				
				$.ajax({
					type: "POST",
					data: {IdStore:$(this).attr('alt')},
					async: false,
					url: URL,
					success: function(data){						
						
					}
				});
				
				//Xóa Store và Album trên CSDL
				var URL = "/object/del/Store/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 STORE
			$('#URLInsButton').click(function(){
				var Data1 = [], Data2 = [];
				var URL, IdPicasaAlbum;
												
				//Thêm mới 1 Album Picasa
				URL = "/picasa/album/insert";
				IdPicasaAlbum = "";
				$.ajax({
					type: "POST",
					data: {Name:$('#Name1').val()},
					async: false,
					url: URL,
					success: function(data){						
						IdPicasaAlbum  = data;
					}
				});
				
				Data1[0] = 'null';								
				Data1[1] = $('#Name1').val();
				Data1[2] = $('#Email1').val();								
				Data1[3] = $('#Phone1').val();
				Data1[4] = $('#Type1').val();
				Data1[5] = $('#Address1').val();
				Data1[6] = IdPicasaAlbum;
				
				//Chèn thông tin 1 STORE
				
				URL = "/object/ins/Store";
				var IdStore = 0;
				$.ajax({
					type: "POST",
					data: {Data:Data1},
					async: false,
					url: URL,
					success: function(data){						
						IdStore  = data;
					}
				});
								
				//Chèn vào quận/huyện hiện tại
				
				URL = "/object/ins/StoreLocation";
				Data2[0] = 'null';
				Data2[1] = $('#IdDistrict').attr('alt');
				Data2[2] = IdStore;
				Data2[3] = 0;
				Data2[4] = 0;
				
				$.ajax({
					type: "POST",
					data: {Data:Data2},
					url: URL,
					success: function(data){
						location.reload();
					}
				});
				
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 VIDEO
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/Store/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$.getJSON(url, function(data){
					$('#URLUpdButton').attr('alt'		, data.Id);
					$('#Name2').attr('value'			, data.Name);
					$('#Email2').attr('value'			, data.Email);
					$('#Phone2').attr('value'			, data.Phone);
					$('#Type2').attr('value'			, data.Type);
					$('#Address2').attr('value'			, data.Address);
					$('#IdPicasaAlbum2').attr('value'	, data.IdPicasaAlbum);
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 STORE
			//-----------------------------------------------------------------------------------
			$('#URLUpdButton').click(function(){
				var Data = [];
				Data[0] = $('#URLUpdButton').attr('alt');
				Data[1] = $('#Name2').val();
				Data[2] = $('#Email2').val();								
				Data[3] = $('#Phone2').val();
				Data[4] = $('#Type2').val();
				Data[5] = $('#Address2').val();
				Data[6] = $('#IdPicasaAlbum2').val();
				
				var URL = "/object/upd/Store";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});			
		/*]]>*/
		</script>
	</body>
</html>