<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/cms/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/mvc/templates/theme/cms/css/font.awesome.css"/>
        <link rel="stylesheet" type="text/css" href="/mvc/templates/theme/cms/css/unicorn.login.css"/>
	</head>
	<body>
		<div id="container">
            <div id="logo">
                <img src="/mvc/templates/theme/cms/img/SCMS2.png" alt="logo"/>
            </div>
            <div id="user">
                <div class="avatar">
                    <div class="inner"></div>
                    <img src="/mvc/templates/theme/cms/img/av1_1.jpg"/>
                </div>
                <div class="text">
                    <h4>Đang xác thực . . . <p class="user_name"/></h4>
                </div>
            </div>
            <div id="loginbox">				
                <form id="Fromregister" action="dang-ky">
					<br />
    				<h4>Bạn đã đang ký thành công! Kiểm tra email của bạn để hoàn tất quá trình đăng ký!</h4>
					<br />
    				<div class="form-actions clearfix">                    					
                        <input class="btn btn-block btn-inverse" value="Đăng ký lại" type="submit"/>
                    </div>
                </form>
				
            </div>
        </div>
		
		<script type="text/javascript" language="javascript" src="/mvc/templates/theme/cms/js/signin.jquery.js"/> 
        <script type="text/javascript" language="javascript" src="/mvc/templates/theme/cms/js/jquery.ui.js"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/theme/cms/js/signin.unicorn.js"/>
	</body>
</html>