<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<script src=" http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyC68TCFkTWKY1s8PXW8nR-D0infpzfrayc"/>  
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS-Search"/>
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1&appId=525611617524479";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
	</head>
	
	<body  onload="showMaker()" onunload="GUnload()" id="index">
		<div metal:use-macro="base.xhtml/Header-Search"/>
		<form id="search-form" class="well form-inline" action="/tien-ich/tim-kiem" method="post">
			<div class="container">
				<div class="row">
					<div class="input-append span12">
						<input type="text" class="span11 search-query" placeholder="Gõ tên quán" data-provide="typeahead" name="SearchNameStore" style="border-right:none;"/>
						<button class="btn" type="submit" style="margin-left:-5px !important; border-left:none; box-shadow:none;"><i class="icon icon-search"/></button>
					</div>
				</div>
			</div>
		</form>

		<!-- Search Categories -->
		<div id="content">
			<div id="container" class="container">
				<div class="row">
					<div class="span12 frame">
						<div class="row">
							<div class="span2">
								<div class="padding-content-10">
									<a class="btn btn-success btn-large"><i class="icon-share"/> Chia sẽ</a>
								</div>
							</div>
							<div class="span8" style="text-align:center;">
								<div class="padding-content-10">
									<h1 class="tpta" tal:content="Store/getName"/>
								</div>
							</div>
							<div class="span2">
								<div class="padding-content-10">
									<p class="star pull-right" data-score="3.5"/>
								</div>
							</div>
						</div>
					</div>
				</div><br/>
				<div class="row">
					<div class="span5">
						<div class="frame height-380">
							<div class="padding-content-10">							
								<p><span tal:content="Store/getAddress"/></p>
								<p tal:repeat="SF Store/getFeatureAll" tal:content="SF/getFeature/getName"/>
							</div>
						</div>
					</div>
					<div class="span7">
						<div class="frame height-380">
							<div class="padding-content-10">
								<h1>Bản đồ</h1>														
								<div align="center" id="map" style="width: 100%; height: 320px"/>							
							</div>
						</div>
					</div>
				</div><br/>
				<div class="row">
					<div class="span12">
						<div class="frame">
							<div class="padding-content-10">
							<h1>Hình ảnh </h1>
								<div id="myCarousel" class="carousel slide" tal:condition="Album/getImageAll/count">
									<div class="carousel-inner">
										<div class="active item">
											<img tal:attributes="src Album/getImageAll/current/getURL" width="100%"/>
										</div>
										<div class="item" tal:repeat="Image Album/getImageAll">
											<img tal:attributes="src Image/getURL" width="100%"/>
										</div>
									</div>
									<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
									<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
								</div>
							</div>
						</div>						
					</div>
				</div><br/>
				<div class="row">
					<div class="span12">
						<div class="frame">
							<div class="padding-content-10">
								<h1>Khách hàng đánh giá</h1>
								<!-- Comment Box -->
								<div class="comment_div">
									<div class="padding-content-10">
										<p>Đây là phần đánh giá của khách hàng, những nội dung phản cảm, thiếu tôn trọng sẽ được lọc bỏ</p>
									</div>
								</div>
								<div class="fb-comments" data-href="http://www.quanly-cafe.com" data-colorscheme="The color scheme used in the plugin" data-numposts="6" data-width="320">
								
								</div>								
								<form class="well form-inline" action="#" method="post" style="margin-top:20px;">
									<div class="container">
										<h3>Giới thiệu bạn bè</h3><br/>
										<div class="row">
											<div class="span12">
												<input type="text" class="span8 comment-input" placeholder="Tên của bạn" data-provide="typeahead" name="Name"/>
											</div>
											<div class="span12">
												<input type="text" class="span8 comment-input" placeholder="Địa chỉ email" data-provide="typeahead" name="Email"/>
											</div>
											<div class="span12">
												<textarea class="span8 comment-input" placeholder="Ý kiến của bạn" name="CommentContent" style="min-height:200px;"/>
											</div>
											<div class="span12">
												<button type="submit" class="btn btn-primary">Gửi bình luận</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="MarkerName" tal:attributes="alt Store/getAddress" />
		
		<div id="lat" tal:attributes="alt Store/getLocation/getX"/>
		<div id="lng" tal:attributes="alt Store/getLocation/getY"/>
		
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/SettingAgency.js" />
		<span metal:use-macro="base.xhtml/IncludeJS-Search"/>
		<script type="text/javascript">
		/*<![CDATA[*/			
			$('#myCarousel').carousel({
				interval: 5000
			});
			
			$('.star').raty({
				iconRange: [
					{ range: 1, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' },
					{ range: 2, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' },
					{ range: 3, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' },
					{ range: 4, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' },
					{ range: 5, on: '/data/images/rate/star-on.png', off: '/data/images/rate/star-off.png' }
				],
				half: true,
				starHalf: '/data/images/rate/star-half.png',
				score: function() {
					return $(this).attr('data-score');
				}
			});
						
		/*]]>*/
		</script>
	</body>
</html>