<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="menu">
			<div id="sidebar">
				<ul style="display: block;">
					<li class="nav-header">CÁC KHU VỰC</li>
					<li tal:repeat="Domain1 DomainAll" tal:attributes="class php: Domain1->getId()==Domain->getId()? 'active':'disable'">
						<a tal:attributes="href Domain1/getURLSelling"><i class="icon-shopping-cart"/><span tal:content="Domain1/getName"/></a>
					</li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-table"/></span>
								<h5 tal:content="Title"/> 
							</div>
							<div class="widget-content nopadding">
								<div role="grid" class="dataTables_wrapper">									
									<table class="table table-bordered table-striped table-hover data-table">
										<thead>
											<tr>
												<th><div class="text-left">BÀN</div></th>
												<th width="120"><div class="text-right">PHIẾU</div></th>
												<th width="60"><div class="text-center">IN</div></th>
												<th width="60"><div class="text-center">VÀO</div></th>
												<th width="60"><div class="text-center">RA</div></th>
												<th width="60"><div class="text-center">GỌI</div></th>
												<th width="60"><div class="text-center">SỔ</div></th>
												<th width="60"><div class="text-center">DỜI</div></th>										
												<th width="60"><div class="text-center">GOM</div></th>
											</tr>
										</thead>
										<tbody role="alert" aria-live="polite" aria-relevant="all">											
											<tr tal:repeat="Table Domain/getTableAll" tal:attributes="class php: Table->getSessionActive()!=null ? (Table->getSessionActive()->getNote()=='In phieu' ? 'info':'error') :''">
												<td><div tal:content="Table/getName"/></td>
												<td align="right">
													<a class="btn" tal:condition="Table/getSessionActive" tal:attributes="href Table/getSessionActive/getURLDetail">
														<span tal:content="Table/getSessionActive/getValuePrint" />
													</a>
												</td>
												<td>
													<div class="text-center" tal:condition="Table/getSessionActive">
														<div class="btn Print" tal:attributes="alt Table/getSessionActive/getURLPrint"><span class="icon-print"/></div>
													</div>
												</td>
												<td><div class="text-center"><a class="btn" tal:condition="not: Table/getSessionActive" tal:attributes="href Table/getURLCheckinExe"><span class="icon-arrow-right"/></a></div></td>
												<td>
													<div class="text-center" tal:condition="Table/getSessionActive">
														<a class="btn" tal:condition="Table/getSessionActive/getNote" tal:attributes="href Table/getSessionActive/getURLCheckoutExe">
															<span class="icon-arrow-left"/>
														</a>
													</div>
												</td>
												<td><div class="text-center"><a class="btn" tal:condition="Table/getSessionActive" tal:attributes="href Table/getURLCallLoad"><span class="icon-plus"/></a></div></td>
												<td><div class="text-center"><a class="btn" tal:attributes="href Table/getURLLog"><span class="icon-edit"/></a></div></td>
												<td><div class="text-center"><a class="btn" tal:condition="Table/getSessionActive" tal:attributes="href Table/getURLMoveLoad"><span class="icon-move"/></a></div></td>
												<td><div class="text-center"><a class="btn" tal:condition="Table/getSessionActive" tal:attributes="href Table/getURLMergeLoad"><span class="icon-resize-small"/></a></div></td>
											</tr>
										</tbody>								
									</table>
								</div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
			/*<![CDATA[*/			
			$('.Print').click(function(){														
				location.reload();
				window.open($(this).attr('alt'), '_blank');
			});
			/*]]>*/
		</script>
	</body>
</html>