<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th width="32">#</th>
										<th>TÊN MÓN</th>
										<th width="120">ĐƠN VỊ</th>
										<th width="120">S.LƯỢNG</th>
										<th width="120">ĐƠN GIÁ</th>
										<th width="120">T.TIỀN</th>
										<th width="30" />
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Detail Session/getDetails">
										<td tal:content="repeat/Detail/number" />										
										<td>
											<a tal:attributes="href Detail/getURLUpdLoad">
												<span tal:content="Detail/getCourse/getName"/>
											</a>
										</td>
										<td tal:content="Detail/getCourse/getUnit" />
										<td tal:content="Detail/getCount" />
										<td tal:content="Detail/getPricePrint" />
										<td tal:content="Detail/getValuePrint" />
										<td>
											<a tal:attributes="href Detail/getURLDelLoad">
												<span class="icon-remove"/>
											</a>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th colspan="5">TỔNG CỘNG</th>
										<th><span tal:content="Session/getValuePrint"/></th>
									</tr>
								</tfoot>
							</table>
							<a class="btn"  tal:attributes="href Session/getURLUpdLoad">GIẢM GIÁ</a>
							<a target="blank" class="btn"  tal:attributes="href Session/getURLPrint">IN PHIẾU</a>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>
<!--						
							<span tal:content="Session/getTimeRangePrint" />, <B tal:content="Session/getHours" /> 
							<span class="ui-li-aside" tal:content="Session/getValueHoursPrint"/>						
					
						<h4>TỔNG CỘNG:<span class="ui-li-aside" tal:content=""/></h4>
						<p>( <span tal:content="Session/getValueStrPrint" /> )</p>
					</li>
					<li data-theme="c">
						
					</li>

!-->